body {
    padding: 50px;
}

.sortable-dragging {
    border: 1px solid red;
    background: none;
}

.sortable-placeholder {
    border: 1px dashed blue;
    background: none;
}

.page-header h1 {
    display: inline;
}

.page-header button,
.page-header a {
    float: right;
}

.sections input {
    margin-top: 10px;
}

.form-horizontal {
    display: inline-block;
    margin-right: 20px;
}

.reqgroup {
    margin-bottom: 20px;
}

.reqgroup h2 {
    display: inline;
    cursor: pointer;
}

.reqgroup h2 .count{
    display: none;
}

.reqgroup button,
.reqgroup .search {
    float: right;
}

.reqgroup .search {
    margin-right: 20px;
}

.reqs:first-child {
    border-top: 2px solid #999;
}

.reqs {
    border-bottom: 2px solid #999;
}

.req-item:first-child {
    border-top: 1px solid #999;
}

.req-item {
    border-bottom: 1px solid #999;
    padding: 10px 0;
    cursor: pointer;
}