<!DOCTYPE html>
<!-- <html lang="en" manifest="offline.appcache"> -->
<html lang="en">
<head>
    <title>Requisita (Alpha)</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />  
    <link rel="stylesheet" href="css/style.css" type="text/css" />  

    <!-- Templates -->
    <script type="text/template" id="page-template">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Requisita</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-horizontal">
                <label for="group-title">Group Title:</label>
                <input class="group-title" class="span3" name="group-title" type="text">
                <button class="btn" class="create-group">New Group</button> 
            </div>
            <div class="form-horizontal">
                <label for="search-all">Search:</label>
                <input class="search-all" class="span3" name="search-all" type="text">
            </div>
            <hr>
            <div id="content"></div>
        </div>
    </script>
    <script type="text/template" id="list-template">
        <h2><%= title %></h2>
        <button class="btn">New</button>
        <input class="search" class="span3" name="search" type="text" placeholder="Search">
        <div class="row">
            <ul class="reqs unstyled"></ul>
        </div>
    </script>
    <script type="text/template" id="item-template">
        <div class="row">
            <div class="span4">
                <h3> <%= reqId %> : <%= title %> </h3>
            </div>
            <div class="span8">
                <span class="md-comments"><%= commentsMD %></span>
            </div>
        </div>
    </script>
    <script type="text/template" id="edit-item-template">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Edit Requirement : <%= reqId %></h3>
        </div>
        <div class="modal-body">
            <label for="edit-title">Title:</label>
            <input class="edit-title" class="span3" name="edit-title" type="text" value="<%= title %>">
            <label for="edit-comments">Comments:</label>
            <textarea class="edit-comments" name="edit-comments"><%= comments %></textarea>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary save">Save changes</a>
        </div>
    </script>
    <script src="js/vendor/underscore.min.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/backbone.min.js"></script>
    <script src="js/vendor/backbone-localstorage.js"></script>
    <script src="js/vendor/markdown.js"></script>
    <script src="js/vendor/bootstrap-transition.js"></script>
    <script src="js/vendor/bootstrap-modal.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
</body>
</html>