<!DOCTYPE html>
<!-- <html lang="en" manifest="offline.appcache"> -->
<html lang="en">
<head>
    <title>Requisita (Alpha)</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />  
    <link rel="stylesheet" href="css/style.css" type="text/css" />  

    <!-- Templates -->
    <script type="text/template" id="page-template">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">Requisita</a>
                    <ul class="nav">
                      <li class="active">
                        <a href="#">Projects</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="container-fluid"></div>
    </script>
    <script type="text/template" id="project-template">
        <h3><%= title %></h3>
        <br />
        <div class="btn-group">
            <a href="#/<% if(typeof id != 'undefined') print(id) %>/requirements" class="btn">Requirements</a>
            <!-- <a href="#" class="btn">Minutes</a> -->
        </div>
    </script>
    <script type="text/template" id="projects-template">
        <div class="page-header"><h1>Projects</h1> <button class="btn add-project">Add New Project</button></div>
        <div class="projects"></div>
    </script>
    <script type="text/template" id="edit-project-template">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Edit Project</h3>
        </div>
        <div class="modal-body">
            <label for="edit-title">Title:</label>
            <input class="edit-title span6" name="edit-title" type="text" value="<%= title %>">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary save">Save changes</a>
        </div>
    </script>
    <script type="text/template" id="requirements-template">
        <div class="page-header">
            <h1>Requirements for <%=  window.Projects.get(projectId).get('title') %></h1> 
            <a href="#/<%= projectId %>/print/requirements" class="btn print">Print</a></div>
        </div>
        <div class="span3 well sidebar-nav sections"></div>
        <div class="list span8"></div>
    </script>
    <script type="text/template" id="section-template">
        <a href="#" class="section"><%= title %></a>
    </script>
    <script type="text/template" id="sections-template">
        <li class="nav-header">Sections</li>
        <li class="divider"></li>
        <li><a href="#" class="add-section">Add</a></li>
    </script>
    <script type="text/template" id="list-template">
        <div class="form-horizontal">
            <label for="group-title">Group Title:</label>
            <input class="group-title" name="group-title" type="text">
            <button class="btn create-group">New Group</button> 
        </div>
        <div class="form-horizontal">
            <label for="search-all">Search:</label>
            <input class="search-all" name="search-all" type="text">
        </div>
        <hr>
        <div id="groups"></div>
    </script>
    <script type="text/template" id="group-template">
        <h2><%= title %> <span class="count"><small>(<%= count %>)</small> </span> </h2> 
        <button class="btn">New</button>
        <input class="search span3" name="search" type="text" placeholder="Search">
        <div class="row-fluid">
            <ul class="reqs unstyled"></ul>
        </div>
    </script>
    <script type="text/template" id="item-template">
        <div class="row-fluid">
            <div class="span2 req-position">
                <h3> <%= positionString %> :</h3>
            </div>
            <div class="span3 req-title">
                <%= title %>
            </div>
            <div class="span7 req-comments">
                <span class="md-comments"><%= commentsMD %></span>
            </div>
        </div>
    </script>
    <script type="text/template" id="edit-item-template">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Edit Requirement : <%= positionString %></h3>
        </div>
        <div class="modal-body">
            <label for="edit-title">Title:</label>
            <input class="edit-title span6" name="edit-title" type="text" value="<%= title %>">
            <label for="edit-comments">Comments:</label>
            <textarea class="edit-comments span6" name="edit-comments" rows="10"><%= comments %></textarea>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary save">Save changes</a>
        </div>
    </script>
    <script type="text/template" id="print-requirements-template">
        <% _.each(collection, function(section){ %>
        <h2><%= section.number %>. <%= section.title %></h2>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Grupo</th>
                    <th>Requerimiento</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
            <% _.each(section.groups, function(req){ %>
                <tr>
                    <td><%= req.number %></th>
                    <td><%= req.group %></th>
                    <td><%= req.requirement %></th>
                    <td><%= req.comments %></th>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <% }); %>
    </script>
    <script data-main="js/main" src="js/vendor/require.js"></script>
</head>
<body>
</body>
</html>