<!DOCTYPE html>
<html lang="en">
<head>
    <title>Requirements (Alpha)</title>
    <script src="underscore.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="backbone.min.js"></script>
    <script src="backbone-localstorage.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />  
    <link rel="stylesheet" href="style.css" type="text/css" />  
    <!-- Templates -->
    <script type="text/template" id="page-template">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Requirements Manager</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-horizontal">
                <label for="group-title">Group Title:</label>
                <input id="group-title" class="span3" name="group-title" type="text">
                <button class="btn" id="create-group">New Group</button>
            </div>
            <hr>
            <div id="content"></div>
        </div>
    </script>
    <script type="text/template" id="list-template">
        <h2><%= title %></h2>
        <div class="row">
            <div class="span4">
                <div class="form-horizontal">
                    <label for="title">Title:</label>
                    <input id="title" name="title" size="30" type="text">
                    <label for="comments">Comments:</label>
                    <textarea id="comments" name="comments"></textarea> <br /><br />
                    <button class="btn">Save</button>
                </div>
            </div>
            <div class="span8">
                <ul class="reqs"></ul>
            </div>
        </div>
        <hr>
    </script>
    <script type="text/template" id="item-template">
        <h3> <%= reqId %> : <%= title %> </h3>
        <p><%= comments %></p>
    </script>
</head>
<body>
</body>
</html>